body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
    margin: 0;
}

h1 {
    margin: 0;
    margin-left: 40px;
}

h3,
h4 {
    margin-bottom: 0px;
}

button {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-style: none;
    background-color: darkcyan;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.header > button {
    margin-right: 40px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 90px;
    width: 100vw;
    margin-bottom: 42px;
}

.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.book {
    background-color: white;
    border-radius: 12px;
    width: 550px;
    padding-left: 15px;
    padding-right: 15px;
}

.book-header {
    display: flex;
    justify-content: space-between;
}

.newBookDialog {
    width: 500px;
    padding: 20px;
    border-style: none;
    border-radius: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

label {
    font-size: 18px;
}

input {
    height: 25px;
    border-radius: 6px;
}

#btnAddBook {
    align-self: center;
}

dialog > h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}